--extra-index-url https://data.pyg.org/whl/torch-2.0.0+cu118.html

aiobotocore==2.5.1 ; python_version >= "3.10" and python_version < "3.11"
aiohttp==3.8.4 ; python_version >= "3.10" and python_version < "3.11"
aioitertools==0.11.0 ; python_version >= "3.10" and python_version < "3.11"
aiosignal==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
anyio==3.7.1 ; python_version >= "3.10" and python_version < "3.11"
appdirs==1.4.4 ; python_version >= "3.10" and python_version < "3.11"
async-timeout==4.0.2 ; python_version >= "3.10" and python_version < "3.11"
attrs==23.1.0 ; python_version >= "3.10" and python_version < "3.11"
boto3==1.26.161 ; python_version >= "3.10" and python_version < "3.11"
botocore==1.29.161 ; python_version >= "3.10" and python_version < "3.11"
bowler==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
certifi==2023.5.7 ; python_version >= "3.10" and python_version < "3.11"
charset-normalizer==3.1.0 ; python_version >= "3.10" and python_version < "3.11"
click==8.1.4 ; python_version >= "3.10" and python_version < "3.11"
cloudpickle==2.2.1 ; python_version >= "3.10" and python_version < "3.11"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.11"
contourpy==1.1.0 ; python_version >= "3.10" and python_version < "3.11"
cycler==0.11.0 ; python_version >= "3.10" and python_version < "3.11"
dask==2023.6.1 ; python_version >= "3.10" and python_version < "3.11"
deepdiff==6.3.1 ; python_version >= "3.10" and python_version < "3.11"
dill==0.3.6 ; python_version >= "3.10" and python_version < "3.11"
exceptiongroup==1.1.2 ; python_version >= "3.10" and python_version < "3.11"
fastapi==0.99.1 ; python_version >= "3.10" and python_version < "3.11"
fastavro==1.8.0 ; python_version >= "3.10" and python_version < "3.11"
feast==0.31.1 ; python_version >= "3.10" and python_version < "3.11"
filelock==3.12.2 ; python_version >= "3.10" and python_version < "3.11"
fissix==21.11.13 ; python_version >= "3.10" and python_version < "3.11"
fonttools==4.40.0 ; python_version >= "3.10" and python_version < "3.11"
frozendict==2.3.8 ; python_version >= "3.10" and python_version < "3.11"
frozenlist==1.3.3 ; python_version >= "3.10" and python_version < "3.11"
fsspec==2023.6.0 ; python_version >= "3.10" and python_version < "3.11"
greenlet==2.0.2 ; python_version >= "3.10" and (platform_machine == "win32" or platform_machine == "WIN32" or platform_machine == "AMD64" or platform_machine == "amd64" or platform_machine == "x86_64" or platform_machine == "ppc64le" or platform_machine == "aarch64") and python_version < "3.11"
grpcio-reflection==1.56.0 ; python_version >= "3.10" and python_version < "3.11"
grpcio==1.56.0 ; python_version >= "3.10" and python_version < "3.11"
h11==0.14.0 ; python_version >= "3.10" and python_version < "3.11"
httpcore==0.17.3 ; python_version >= "3.10" and python_version < "3.11"
httptools==0.6.0 ; python_version >= "3.10" and python_version < "3.11"
httpx==0.24.1 ; python_version >= "3.10" and python_version < "3.11"
idna==3.4 ; python_version >= "3.10" and python_version < "3.11"
importlib-metadata==6.7.0 ; python_version >= "3.10" and python_version < "3.11"
jinja2==3.1.2 ; python_version >= "3.10" and python_version < "3.11"
jmespath==1.0.1 ; python_version >= "3.10" and python_version < "3.11"
joblib==1.3.1 ; python_version >= "3.10" and python_version < "3.11"
jsonschema-specifications==2023.6.1 ; python_version >= "3.10" and python_version < "3.11"
jsonschema==4.18.0 ; python_version >= "3.10" and python_version < "3.11"
kiwisolver==1.4.4 ; python_version >= "3.10" and python_version < "3.11"
locket==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
markupsafe==2.1.3 ; python_version >= "3.10" and python_version < "3.11"
matplotlib==3.7.2 ; python_version >= "3.10" and python_version < "3.11"
mmh3==4.0.0 ; python_version >= "3.10" and python_version < "3.11"
more-itertools==9.1.0 ; python_version >= "3.10" and python_version < "3.11"
moreorless==0.4.0 ; python_version >= "3.10" and python_version < "3.11"
mpmath==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
multidict==6.0.4 ; python_version >= "3.10" and python_version < "3.11"
mypy-extensions==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
mypy==1.4.1 ; python_version >= "3.10" and python_version < "3.11"
natsort==8.4.0 ; python_version >= "3.10" and python_version < "3.11"
networkx==3.1 ; python_version >= "3.10" and python_version < "3.11"
numpy==1.25.0 ; python_version >= "3.10" and python_version < "3.11"
ordered-set==4.1.0 ; python_version >= "3.10" and python_version < "3.11"
packaging==23.1 ; python_version >= "3.10" and python_version < "3.11"
pandas==1.5.3 ; python_version >= "3.10" and python_version < "3.11"
pandavro==1.5.2 ; python_version >= "3.10" and python_version < "3.11"
partd==1.4.0 ; python_version >= "3.10" and python_version < "3.11"
pillow==10.0.0 ; python_version >= "3.10" and python_version < "3.11"
proto-plus==1.22.3 ; python_version >= "3.10" and python_version < "3.11"
protobuf==4.23.4 ; python_version >= "3.10" and python_version < "3.11"
psutil==5.9.5 ; python_version >= "3.10" and python_version < "3.11"
pyarrow==11.0.0 ; python_version >= "3.10" and python_version < "3.11"
pydantic==1.10.11 ; python_version >= "3.10" and python_version < "3.11"
pygments==2.15.1 ; python_version >= "3.10" and python_version < "3.11"
pyparsing==3.0.9 ; python_version >= "3.10" and python_version < "3.11"
python-dateutil==2.8.2 ; python_version >= "3.10" and python_version < "3.11"
python-dotenv==1.0.0 ; python_version >= "3.10" and python_version < "3.11"
pytz==2023.3 ; python_version >= "3.10" and python_version < "3.11"
pyyaml==6.0 ; python_version >= "3.10" and python_version < "3.11"
referencing==0.29.1 ; python_version >= "3.10" and python_version < "3.11"
requests==2.31.0 ; python_version >= "3.10" and python_version < "3.11"
rpds-py==0.8.8 ; python_version >= "3.10" and python_version < "3.11"
s3fs==2023.6.0 ; python_version >= "3.10" and python_version < "3.11"
s3transfer==0.6.1 ; python_version >= "3.10" and python_version < "3.11"
scikit-learn==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
scipy==1.11.1 ; python_version >= "3.10" and python_version < "3.11"
six==1.16.0 ; python_version >= "3.10" and python_version < "3.11"
sniffio==1.3.0 ; python_version >= "3.10" and python_version < "3.11"
sqlalchemy2-stubs==0.0.2a34 ; python_version >= "3.10" and python_version < "3.11"
sqlalchemy[mypy]==1.4.49 ; python_version >= "3.10" and python_version < "3.11"
ssgetpy==1.0rc2 ; python_version >= "3.10" and python_version < "3.11"
starlette==0.27.0 ; python_version >= "3.10" and python_version < "3.11"
sympy==1.12 ; python_version >= "3.10" and python_version < "3.11"
tabulate==0.9.0 ; python_version >= "3.10" and python_version < "3.11"
tenacity==8.2.2 ; python_version >= "3.10" and python_version < "3.11"
threadpoolctl==3.1.0 ; python_version >= "3.10" and python_version < "3.11"
toml==0.10.2 ; python_version >= "3.10" and python_version < "3.11"
tomli==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
toolz==0.12.0 ; python_version >= "3.10" and python_version < "3.11"
torch-geometric==2.3.1 ; python_version >= "3.10" and python_version < "3.11"
torch-scatter==2.1.1+pt20cu118 ; python_version >= "3.10" and python_version < "3.11"
torch-sparse==0.6.17+pt20cu118 ; python_version >= "3.10" and python_version < "3.11"
torch==2.0.1 ; python_version >= "3.10" and python_version < "3.11"
tqdm==4.65.0 ; python_version >= "3.10" and python_version < "3.11"
typeguard==2.13.3 ; python_version >= "3.10" and python_version < "3.11"
typing-extensions==4.7.1 ; python_version >= "3.10" and python_version < "3.11"
urllib3==1.26.16 ; python_version >= "3.10" and python_version < "3.11"
uvicorn[standard]==0.22.0 ; python_version >= "3.10" and python_version < "3.11"
uvloop==0.17.0 ; (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and python_version >= "3.10" and python_version < "3.11"
volatile==2.1.0 ; python_version >= "3.10" and python_version < "3.11"
watchfiles==0.19.0 ; python_version >= "3.10" and python_version < "3.11"
websockets==11.0.3 ; python_version >= "3.10" and python_version < "3.11"
wrapt==1.15.0 ; python_version >= "3.10" and python_version < "3.11"
yarl==1.9.2 ; python_version >= "3.10" and python_version < "3.11"
zipp==3.15.0 ; python_version >= "3.10" and python_version < "3.11"
